[Unit]
Description=Uvicorn application

[Service]
ExecStart=/root/Syngenta-Hack25/.venv/bin/uvicorn src.main:app --host 0.0.0.0 --port 3490
WorkingDirectory=/root/Syngenta-Hack25
User=root
Restart=always

[Install]
WantedBy=multi-user.target

# /etc/systemd/system/